<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DllExport" version="1.5.2" targetFramework="net452" />
  <package id="Microsoft.Azure.KeyVault" version="2.3.2" targetFramework="net461" />
  <package id="Microsoft.Azure.KeyVault.WebKey" version="2.0.7" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.24" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.7" targetFramework="net461" />
  <package id="Nerdbank.GitVersioning" version="2.0.37-beta" targetFramework="net461" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net461" />
</packages>